body {
    font-family: 'Noto Sans', sans-serif;
    color: rgb(31, 31, 31);
  }
  
  .main-div {
    width: 600px;
    height: 200px;
    padding: 20px;
    margin-top: 100px;
    margin-left: 200px;
  }
  
  h1 {
    font-size: 50px;
    margin: 0; 
    animation: slideAndFade 2s ease-in-out forwards;
  }
  
  h2 {
    margin: 0;
    color: rgb(64, 64, 64);
    animation: slideAndFade 2.5s ease-in-out forwards;
  }

  p{
    margin-top: 40px;
    animation: slideAndFade 3s ease-in-out forwards;
  }

  @keyframes slideAndFade {
    0% {
      transform: translateX(-60px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  ul.navbar {
    list-style-type: none;
    overflow: hidden;
    margin-left: 140px;
}

li.nav-item {
    float: left;
}

li.nav-item a {
    display: block;
    color: rgb(31, 31, 31);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 23px;
    animation: slideDownAndFade 2s ease-in-out forwards;
}

li.nav-item a:hover {
    color: rgb(83, 83, 83);
}

@keyframes slideDownAndFade {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

@counter-style custom-symbol {
    system: cyclic;
    symbols: "-" ;
    suffix: " "; 
  }
  
  ul {
    list-style: custom-symbol;
    color: rgb(31, 31, 31);
    margin-left: -30px;
  }

.li1{
    animation: slideAndFade 3.33s ease-in-out forwards;
}

.li2{
    animation: slideAndFade 3.67s ease-in-out forwards;
}

.li3{
    animation: slideAndFade 4s ease-in-out forwards;
}
