body {
    font-family: 'Noto Sans', sans-serif;
    color: rgb(31, 31, 31);
  }
  
  .main-div {
    width: 540px;
    height: 1400px;
    padding: 20px;
    margin-top: 100px;
    margin-left: 200px;
  }
  
  h1 {
    font-size: 55px;
    margin: 0; 
    animation: slideAndFade 1.5s ease-in-out forwards;
  }
  
  h2 {
    margin: 0;
    animation: slideAndFade 2s ease-in-out forwards;
  }

  h3{
    margin-top: 40px;
    animation: slideAndFade 2.5s ease-in-out forwards;
  }

  p{
    animation: slideAndFade 3s ease-in-out forwards;
    text-align: justify;
  }

  @keyframes slideAndFade {
    0% {
      transform: translateX(-60px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  ul.navbar {
    list-style-type: none;
    overflow: hidden;
    margin-left: 140px;
}

li.nav-item {
    float: left;
}

li.nav-item a {
    display: block;
    color: rgb(31, 31, 31);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 25px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    animation: slideDownAndFade 3s;
}

li.nav-item a:hover {
    color: rgb(83, 83, 83);
    transform: scale(1.03); 
}

li.nav-item.right {
    float: right;
    margin-right: 20px;
}


@keyframes slideDownAndFade {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

@counter-style custom-symbol {
    system: cyclic;
    symbols: "-" ;
    suffix: " "; 
  }
  
  ul {
    list-style: custom-symbol;
    color: rgb(31, 31, 31);
    margin-left: -30px;
  }

li:hover{
    color: black;
    user-select: none;
    cursor: pointer;
}

.li1{
    animation: slideAndFade 3s ease-in-out forwards;
}

.li2{
    animation: slideAndFade 3s ease-in-out forwards;
}

.li3{
    animation: slideAndFade 3s ease-in-out forwards;
}

.li4{
    animation: slideAndFade 3s ease-in-out forwards;
}

.about{
    margin-top: 100px;
}

.projects{
    margin-top: 100px;
}

.projectsText {
    margin-left: 20px;
    text-indent: -20px; 
  }